<!DOCTYPE html>
<html>
<head>
    <title>Flask Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Simple Flask Calculator</h2>

    <form method="POST">
        <input type="number" step="any" name="num1" placeholder="First Number" required>

        <select name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <input type="number" step="any" name="num2" placeholder="Second Number" required>

        <button type="submit">Calculate</button>
    </form>

    <h3>Result: {{ result }}</h3>
</div>

</body>
</html>
